<div class="banner">
  <a href="http://datacarpentry.org" title="Data Carpentry">
    <img alt="Data Carpentry banner" src="{{site.dc_site}}/images/DC1_logo_small.png" />
  </a>
  <a href="http://www.uva.nl/" title="University of Amsterdam">
    <img alt="UvA banner" src="img/logo-uva.png" />      
  </a>
  <a href="https://www.umcutrecht.nl/" title="UMC Utrecht">
    <img alt="UMC Utrecht banner" src="img/logo-umc-utrecht.png" />      
  </a>
  <a href="http://www.rivm.nl" title="RIVM">
    <img alt="RIVM banner" src="img/logo-rivm.png" />      
  </a>
  <a href="http://www.dtls.nl" title="DTL">
    <img alt="DTL banner" src="img/logo-dtl.png" />      
  </a>
</div>
