<h3 id="linux">Linux</h3>
<p>
Please go through all the installation steps below and make sure that
you not only installed them, but start them up to make sure they're working.
If you have any problems, don't hesitate to email the instructors to
ask for help, or arrive early on the first day of the workshop to
get help.
<div class="row-fluid">
<ol>

  <li><b>FTP Client (Filezilla)</b>
    <br>
    An FTP client will help you transfer files easily between your computer and the cloud.
    <ul>
      <li>Go to the <a href="https://filezilla-project.org/download.php?show_all=1">Filezilla download page</a>
      <li>Chose the download link appropriate to your system
      <li>To use it, double-click on the downloaded file
      <li>Follow any installation instructions, if any
      <li>At the workshop we will give you additional information (e.g. host, username, port) to connect
    </ul>

</ol>
</div>
