<div>
<h3 id="windows">Windows</h3>
<p>
Please go through all the installation steps below and make sure that
you not only installed them, but start them up to make sure they're working.
If you have any problems, don't hesitate to email the instructors to
ask for help, or arrive early on the first day of the workshop to
get help.


<div class="row-fluid">
<ol>

  <p>
<li><b>  Putty</b>
<br>You will need a terminal program to access the HPC cluster.
<ul>
<li>Go to the<a href="http://www.chiark.greenend.org.uk/~sgtatham/putty/download.html">  Putty download page</a>
<li>Click on putty.exe link to download the install file
<li>To use it, double-click on the download file
<li>Follow the installation instructions, if any 
  </ul>
  
  
  <p>

  <li><b>FTP Client (Filezilla)</b>
    <br>
    An FTP client will help you transfer files easily between your computer and the cloud.
    <ul>
      <li>Go to the <a href="https://filezilla-project.org/download.php?show_all=1">Filezilla download page</a>
      <li>Chose the download link appropriate to your system
      <li>To use it, double-click on the downloaded file
      <li>Follow any installation instructions, if any
      <li>At the workshop we will give you additional information (e.g. host, username, port) to connect
    </ul>

  </ol>

</div>
